@model Department
@{
    ViewBag.Title = "Edit Department";
    Layout = "_AdminLayout";
}
<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="DeptID" />
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>
   
    <div class="text-center">
        <button class="btn btn-primary" type="submit" style="background-image: linear-gradient(135deg,#9708CC,#43CBFF,#9708CC,#43CBFF");>Save</button>
        <a asp-action="Index" class="btn btn-primary" style="background-image: linear-gradient(135deg,#9708CC,#43CBFF,#9708CC,#43CBFF");>Cancel</a>
    </div>
</form>

