@model Order
<h2> Check Out Now</h2>

<p>Please enter your details, and we'll ship your goods right away!!</p>

<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Checkout" method="post">
    <h3>Ship To</h3>
    <div class="form-group">
        <label>Name:</label>
        <input asp-for="Name" class="form-control" />
    </div>

    <h3>Address</h3>
    <div class="form-group">
        <label>Street Address:</label>
        <input asp-for="Line1" class="form-control" />
    </div>
    <div class="form-group">
        <label>Surburb:</label>
        <input asp-for="Line2" class="form-control" />
    </div>
    <div class="form-group">
        <label>Province:</label>
        <input asp-for="Line3" class="form-control" />
    </div>
    <div class="form-group">
        <label>City:</label>
        <input asp-for="City" class="form-control" />
    </div>
    <div class="form-group">
        <label>Zip Code:</label>
        <input asp-for="Zip" class="form-control" />
    </div>

    <h3>Options</h3>
    <div class="custom-checkbox">
        <label>
            <input asp-for="GiftWrap" /> GiftWrap These Items
        </label>
    </div>

    <div class="text-center">
        <input class="btn btn-primary" type="submit" value="Complete Order" style=" background-image: linear-gradient(135deg,#9708CC,#43CBFF,#9708CC,#43CBFF); "/>
    </div>

</form>

