<h1>Thanks</h1>
<p>Thanks for placing your order </p>
<p>We'll ship your goods as soon as possible</p>

<div class="text-center">
    <a class="btn btn-primary " asp-action="Index" asp-controller="Quotation" style=" background-image: linear-gradient(135deg,#9708CC,#43CBFF,#9708CC,#43CBFF)">Checkout</a>

</div>