@model OnlineShopping2.Models.USLogin;
@{

    Layout = "_LoginLayout";

}

<section class="h-100 gradient-form" style=" background-image: linear-gradient(135deg,#9708CC,#43CBFF,#9708CC,#43CBFF)">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
                <div class="card rounded-3 text-black">
                    <div class="row g-0">
                        <div class="col-lg-6">
                            <div class="card-body p-md-5 mx-md-4">

                                <div class="text-center">
                                    <img src="~/Content/Images/images.png" style="width: 185px;" alt="logo">
                                    <br />
                                    <br />
                                    <br />
                                    <h4 class="mt-1 mb-5 pb-1" style=" font-family: Georgia, serif;"> <b>SHOP TILL YOU DROP WITH US!! </b></h4>
                                </div>


                                <div class="text-danger" asp-validation-summary="All"></div>
                                <form asp-action="Login" asp-controller="Access" method="post">
                                    @*<input type="email" placeholder="Email" asp-for="Email" />
                                    <p style=" font-family: Georgia, serif;">Please login to your account</p>*@

                                    <div class="form-outline mb-4">
                                        <input asp-for="Email" class="form-control" placeholder="email address" />
                                        @*<div><span asp-validation-for="Name" class="text-danger"></span></div>*@
                                        <label class="form-label" for="form2Example11" style=" font-family: Georgia, serif;">Username</label>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <input type="password" placeholder="Password" asp-for="Password" class="form-control" />
                                        <div><span asp-validation-for="Password" class="text-danger"></span></div>
                                        <label class="form-label" for="form2Example22" style=" font-family: Georgia, serif;">Password</label>
                                    </div>
                                    <label>
                                        <input type="checkbox" asp-for="KeepLoggedIn" />
                                        Keep me logged in
                                    </label>

                                    <div class="text-center pt-1 mb-5 pb-1">
                                        <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" style=" background-image: linear-gradient(135deg,#9708CC,#43CBFF,#9708CC,#43CBFF)"  font-family: Georgia, serif;" type="submit">Log in</button>
                                        <a class="text-muted" href="#!" style=" font-family: Georgia, serif;">Forgot password?</a>
                                        @*<p class="mb-0 me-2" style=" font-family: Georgia, serif;">Don't have an account?</p>
                                            <button type="button" class="btn btn-outline-info" style=" font-family: Georgia, serif;">Create new</button>*@
                                    </div>
                                    <div class="d-flex align-items-center justify-content-center pb-4">

                                    </div>

                                </form>

                            </div>
                        </div>
                        <div class="col-lg-6 d-flex align-items-center gradient-custom-2" style=" background-image: linear-gradient(135deg,#9708CC,#43CBFF,#9708CC,#43CBFF)">
                            <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                                <h3 class="mb-4" style=" font-family: Georgia, serif;">You could give up shopping but you not a quitter, are you?!!</h3>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>








@*<body>
        <form asp-controller="Access" asp-action="Login" method="post">
            <h1>Login</h1>
            <input type="email" placeholder="Email" asp-for="Email" />
            <input type="password" placeholder="PassWord" asp-for="Password" />

            <label>
                <input type="checkbox" asp-for="KeepLoggedIn" />
                Keep me logged in.


            </label>
            <button type="submit"> Login</button>

            @if (ViewData["ValidateMessage"] != null)
            {
                <br />
                <br />
                <label>@ViewData["ValidateMessage"]</label>
            }

        </form>
    </body>*@
