@using OnlineShopping2.Models.ViewModels
@using OnlineShopping2.Models

@model ProductListViewModel


@foreach (var p in Model.Products)
{
    @Html.Partial("ProductSummary",p)



}

<div page-model="@Model.PagingInfo" page-action="List" page-classes-enabled="true"
     page-class="btn " page-class-normak="btn-secondary"
     page-class-selected="btn-primary " page-url-category="@Model.CurrentCategory">

</div>




