<h2>hello there shopper, Lets Get Shopping  </h2>
<div class="card-group">
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">
        <div class="card text-white @*bg-info*@ mb-3" style="max-width: 18rem; background-color: rebeccapurple ">

            <div class="card-body">
                <h5 class="card-title" style=" font-family: Georgia, serif;">ACCESSORIES</h5>
                <img src="~/Content/Images/glasses.png" />
            </div>
        </div>
    </a>


    <a class="nav-link text-dark" asp-area="" asp-controller="Participant" asp-action="List">
        <div class="card text-white @*bg-danger*@ mb-3" style="max-width: 18rem; background-color: dodgerblue; font-family: Georgia, serif; ">

            <div class="card-body">
                <h5 class="card-title" style=" font-family: Georgia, serif;">BOTTOMS</h5>
                <img src="~/Content/Images/bottoms.png" />
            </div>
        </div>
    </a>

    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">
        <div class="card text-white @*bg-info*@ mb-3" style="max-width: 18rem; background-color: rebeccapurple ">

            <div class="card-body">
                <h5 class="card-title" style=" font-family: Georgia, serif;">DRESSES</h5>
                <img src="~/Content/Images/dress.png" />
            </div>
        </div>
    </a>

    
</div>

<div class="card-group">




    
   
   

</div>
@*<div class="card-group">
   
    
    <a class="nav-link text-dark" asp-area="" asp-controller="Participant" asp-action="List">
        <div class="card text-white bg-pink mb-3" style="max-width: 18rem; background-color: #6f42c1 ">

            <div class="card-body">
                <h5 class="card-title" style=" font-family: Georgia, serif;">PUPILS</h5>
                <img src="~/Content/Images/shoes.jpg" />
            </div>
        </div>
    </a>
  
</div>*@